/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #2f2f2f;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: auto;
  width: 500px;
  height: 660px;
  background-color: #fdec51;
  padding: 50px 50px 30px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

main header h1 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.close-btn {
  background-color: #ffffff00;
  border: none;
  width: 24px;
  height: 24px;
  background: url(../img/cross.svg) no-repeat;
  background-size: 16px 16px;
  background-position: center;
  cursor: pointer;
}

.close-btn:hover {
  opacity: 0.7;
  background-color: #ffffff70;
}

section {
  background-color: #fff;
  box-shadow: -10px 10px 20px -3px rgba(0,0,0,0.5);
  position: relative;
  width: 500px;
  height: 460px;
  padding: 60px 40px 45px;
  margin-bottom: 25px;
}

section img {
  position: absolute;
  left: 50px;
  top: -30px;
  border-radius: 50%;
}

section label {
  text-transform: uppercase;
  font-size: 13px;
  color: #abafb3;
}

section input {
  width: 100%;
  border: none;
  margin-top: 8px;
  padding: 3px 0;
  color: #afa5a2;
  font-size: 16px;
}

section hr {
  margin: 0;
  height: 0;
  border: none;
  border-top: 1px solid rgb(172, 172, 172);
  margin: 5px 0 16px;
}

section hr:last-child {
  margin-top: -6px;
}

.full-name-wrap {
  display: flex;
}

section textarea {
  margin-top: 12px;
  padding: 3px 0;
  width: 100%;
  height: 80px;
  border: none;
  resize: vertical;
  font-size: 13px;
}

footer {
  display: flex;
  justify-content: end;
}

footer button {
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  color: #555555;
}
